Animals_with_Attributes2
__pycache__
X_test.npy
X_train.npy
y_test.npy
y_train.npy
X_test_50_linear.npy
X_train_50_linear.npy
X_test_500_linear.npy
X_train_500_linear.npy
X_test_50_rbf.npy
X_train_50_rbf.npy
X_test_500_rbf.npy
X_train_500_rbf.npy
X_test_50_poly.npy
X_train_50_poly.npy
X_test_500_poly.npy
X_train_500_poly.npy
X_test_50_sigmoid.npy
X_train_50_sigmoid.npy
X_test_500_sigmoid.npy
X_train_500_sigmoid.npy
X_test_50_cosine.npy
X_train_50_cosine.npy
X_test_500_cosine.npy
X_train_500_cosine.npy
Learning/Data
Learning/X_train_LDA.npy
Learning/X_test_LDA.npy
Learning/y_train.npy
Learning/y_test.npy
Report/Report.aux
Report/Report.log
Report/Report.out
Report/Report.synctex.gz
Report/Report.bbl
Report/Report.blg
Report/Report.tex
Report/Report.fdb_latexmk
Report/Report.fls
Report/IEEEtran.bst
Report/IEEEtran.cls
Report/Prj2.bib
