Animals_with_Attributes2
__pycache__
X_test.npy
X_train.npy
y_test.npy
y_train.npy
Report/Report.aux
Report/Report.log
Report/Report.out
Report/Report.synctex.gz
Report/Report.bbl
Report/Report.blg
Report/Report.tex
Report/neurips_2020.sty
Report/bibfile.bib
Report/figure
Selection/X_test_proj_2d_SelectKBest.npy
Selection/X_train_proj_2d_SelectKBest.npy
Projection/X_test_proj_2d_linear.npy
Projection/X_test_proj_2d_rbf.npy
Projection/X_train_proj_2d_linear.npy
Projection/X_train_proj_2d_rbf.npy
Projection/X_train_proj_2d_LDA.npy
Projection/X_test_proj_2d_LDA.npy
Projection/X_train_proj_2d_AE.npy
Projection/X_test_proj_2d_AE.npy
Learning/X_test_proj_2d_TSNE_10.0.npy
Learning/X_test_proj_2d_TSNE_20.0.npy
Learning/X_test_proj_2d_TSNE_30.0.npy
Learning/X_test_proj_2d_TSNE_40.0.npy
Learning/X_test_proj_2d_TSNE_50.0.npy
Learning/X_train_proj_2d_TSNE_10.0.npy
Learning/X_train_proj_2d_TSNE_20.0.npy
Learning/X_train_proj_2d_TSNE_30.0.npy
Learning/X_train_proj_2d_TSNE_40.0.npy
Learning/X_train_proj_2d_TSNE_50.0.npy
Learning/X_test_proj_2d_LLE_2.npy
Learning/X_test_proj_2d_LLE_4.npy
Learning/X_test_proj_2d_LLE_8.npy
Learning/X_test_proj_2d_LLE_16.npy
Learning/X_train_proj_2d_LLE_2.npy
Learning/X_train_proj_2d_LLE_4.npy
Learning/X_train_proj_2d_LLE_8.npy
Learning/X_train_proj_2d_LLE_16.npy
Learning/X_test_proj_2d_Isomap_2.npy
Learning/X_test_proj_2d_Isomap_4.npy
Learning/X_test_proj_2d_Isomap_8.npy
Learning/X_test_proj_2d_Isomap_16.npy
Learning/X_train_proj_2d_Isomap_2.npy
Learning/X_train_proj_2d_Isomap_4.npy
Learning/X_train_proj_2d_Isomap_8.npy
Learning/X_train_proj_2d_Isomap_16.npy
.idea
