__pycache__
Office-Home_resnet50
Report/Report.aux
Report/Report.log
Report/Report.out
Report/Report.synctex.gz
Report/Report.bbl
Report/Report.blg
Report/Report.fdb_latexmk
Report/Report.fls
Report/Prj4.bib
Report/Report.tex
Report/IEEEtran.bst
Report/IEEEtran.cls